@using Exam.Models;
@using Exam.Models.ViewModels;
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Lis/axios.js"></script>
<script src="~/Lis/vue.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Lis/My97DatePicker/WdatePicker.js"></script>
<style>
    ul li {
        /*list-style: none;*/
    }

    #collapseExample1 {
        padding:10px;
        background-color: aliceblue;
        color: #000;
    }
</style>
<div class="container">
    @{ 
        ExamSysEntities1 ef = new ExamSysEntities1();
        string jie = ViewData["Bian"].ToString();
        int bian = Convert.ToInt32(jie);
        string Title = ef.Papers.FirstOrDefault(x => x.PaperID == bian).PaperName;
    }
    <h3>@Title</h3>
    <button class="btn btn-primary" v-on:click="Dian">返回</button>
    <hr />
    <div class="container border" style=" border:1px solid #808080">
        <ul style="list-style:none;margin-top:20px;">
            @{ 
                int sum = 0;
                foreach (var item in ef.PaperDetails.Where(x => x.PaperID ==bian))
                {
                    sum++;
                    string tile = ef.Questions.FirstOrDefault(x => x.QuestionID == item.QuestionID).QuestionTitle;
                    string Shi = ef.Questions.FirstOrDefault(x => x.QuestionID == item.QuestionID).Description;
                    <li style="margin-top:20px;">
                        <div class="question-title">
                            <i style="float: left;font-size:18px;">@sum</i>
                            <div style="float:left;margin-left:10px;"><p>@tile<br></p></div>
                            <div style="clear: both;"></div>
                        </div>
                        <div class="question-block ">
                            <ol type="A">
                                @{
                                    List<int> listInt = new List<int>();
                                    foreach (var item1 in ef.Answers.Where(x => x.QuestionID == item.QuestionID))
                                    {
                                        <li><p>@item1.AnswerContent<br></p></li>
                                         listInt.Add(item1.IsResult==false?0:1);
                                    }
                }
                            </ol>
                        </div>
                        <div  id="collapseExample1">
                            <p>
                                答案:&nbsp;
                                @{
                                    string jia = "  ";
                                    for (int i = 0; i < 4; i++)
                                    {
                                        if (listInt[i]>0)
                                        {
                                            jia +=i== 0 ? "A" : (i == 1 ? "B" : (i == 2 ? "C" : (i == 3 ? "D" : "")));
                                        }
                                    };
                                }
                                @jia</p>
                            <p>试题解析:@Shi</p>
                        </div>
                </li>
                }
            }

        </ul>
    </div>
</div>
<script>
    var a = new Vue({
        el: '.container',
        data: {},
        methods: {
            Dian() {
                location.href = "/Paper/Index";
            }
        }
    })
</script>

